# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Virtual environment
venv/

# IDE/Editor specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Environment variable files
.env
*.env